.play-button {
    margin: 10px;
    justify-content: right;
    width: 100%;
    text-align: right;
}

.content {
    margin-top: 70px;
    padding: 10px;
    background: rgba(190, 190, 190, 0.75);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    overflow: hidden;
}

@media (orientation: landscape) {
    .content {
        text-align: right;
        margin-left: 50%;
    }
}

@media (orientation: portrait) {
    .content {
        text-align: center;
        margin-left: 0%;
    }
}
