#play-button {
    font-size: 3vw;
    margin-top: 10%;  
    margin-bottom: 10%;  
    width: 100%;
    /*background-image: linear-gradient(to right, rgb(24, 181, 209), rgb(188, 0, 0));*/

}
body {
   background: fixed;
   background-image: linear-gradient(to right, rgb(188, 0, 0),rgb(24, 181, 209));
}
.headbar{
  display: flex;
  position: absolute;
  height: 7%;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  text-align: center;
  font-size: 1.5vw;
  background-image: linear-gradient(to right, rgb(188, 0, 0) , rgb(255, 0, 0));
}
img{
  margin-top: 0.3%;
  margin-left: 35%;
  height: 2.7vw;
  width: 2.7vw;
}
#headText{
  margin-left: 1%;
  margin-top: 0.6%;
}
a{
  text-decoration: none;
  font-family: 'Font1';
}
a:hover{
  color: black;
}
a:visited{
  color: #000;
}
@font-face{
  font-family: 'Font1';
  src: url('../assets/IBMPlexSansJP-Bold.ttf');
}