.play-button {
    margin: 10px;
    justify-content: right;
    width: 100%;
    text-align: right;
}

.content {
    width: 100%;
    padding: 25px;
    overflow: hidden;
}

@media (orientation: landscape) {
    .content {
        text-align: right;
    }
}

@media (orientation: portrait) {
    .content {
        text-align: center;
    }
}
