#previousButton {
  width: 100%; 
  margin-bottom: 1%; 
  font-size: 3vw;
  margin-top: 3%;
}



#content {
  width: 300px;
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.653);
  border-radius: 5px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-right: 0%;
  margin-left: 0%;
  height: 50%;
  text-align: center;
}
#post {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 1.06vw;
  
}
#text {
  border: 2px solid rgba(0, 0, 0, 0.653);
  border-radius: 5px;
  margin-top: 1%;
  margin-bottom: 1%;

}
#comments {
  border: 2px solid rgba(206, 1, 1, 0.833);  
  border-radius: 5px; 
  margin-top: 1%;
  margin-bottom: 1%;
  margin-bottom: 1%; 
  margin-right: 0%; 
  margin-left: 0%; 
  height: 5%;
}
#nextButton {
  width: 100%; 
  margin-top: 1%; 
  font-size: 3vw;
}
.headbar{
  display: flex;
  position: absolute;
  height: 60px;
  top: 0;
  left: 0;
  width: 100%;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  text-align: center;
  font-size: 1.5vw;
  background-image: linear-gradient(to right, rgb(188, 0, 0) , rgb(255, 0, 0));
}
a{
  text-decoration: none;
  font-family: 'Font1';
}
#headText{
  margin-left: 1%;
  margin-top: 0.6%;
}
img{
  margin-top: 0.3%;
  margin-left: 35%;
  height: 50px;
  width: 50px;
}
a:hover{
  color: black;
}
a:visited{
  color: #000;
}
@font-face{
  font-family: 'Font1';
  src: url('../assets/IBMPlexSansJP-Bold.ttf');
}
body{
  background-color: lightgray;
}