.headbar {
    display: flex;
    position: absolute;
    height: 7%;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    text-align: center;
    font-size: 1.5vw;
    background-image: linear-gradient(to right, rgb(188, 0, 0), rgb(255, 0, 0));
}

img {
    margin-top: 0.3%;
    margin-left: 35%;
    height: 2.7vw;
    width: 2.7vw;
}

#headText {
    margin-left: 1%;
    margin-top: 0.6%;
}

a {
    text-decoration: none;
    font-family: 'Font1';
}

a:hover {
    color: black;
}

a:visited {
    color: #000;
}

@font-face {
    font-family: 'Font1';
    src: url('../assets/IBMPlexSansJP-Bold.ttf');
}

body {
    background-image: url('../assets/background.jpg');
    background-size: cover;
}

h2 {
    font-family: 'Font1';
    margin-right: 1%;
}

h3 {
    font-family: 'Font1';
    margin-right: 1%;
}

p {
    font-family: 'Font1';
    margin-right: 1%;
}

#content {
    margin-top: 10%;
    margin-left: 33%;
    margin-right: 1%;
    text-align: right;
    background-color: rgba(255, 255, 255, 0.845);
    border-radius: 5px;
    padding: 10px;
}

.container {
    padding: 3%;
    text-align: center;
    margin-top: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 20%;
    background-color: rgba(255, 255, 255, 0.845);
    border-radius: 5px;
}

label {
    margin-top: 1%;
}

#play-button {
    /*TODO: Remove the duplicate and conflicting #play-button stylings */
    margin-top: 0.5%;
    margin-right: 0%;
    margin-left: 26%;
    height: 70%;
    font-family: 'Font1';
    border: none;
    background-color: white;
}