a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #000;
}

body {
    background-image: url("../assets/background.jpg");
    background-size: cover;
    overflow-x: hidden;
}

.head-bar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    text-align: center;
    font-size: 25px;
    background-image: linear-gradient(to right, rgb(188, 0, 0), rgb(255, 0, 0));
    white-space: nowrap;
    overflow: hidden;
}

.head-text {
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.detailed-head-text {
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.head-bar-img {
    margin-top: 0.3%;
    margin-bottom: 0.3%;
    width: 100%;
}
.head-bar-img img {
    height: 100%;
}

@media (orientation: landscape) {
    .head-bar {
        height: 60px;
    }
}

@media (orientation: portrait) {
    .detailed-head-text {
        visibility: hidden;
        height: 0;
        width: 0;
    }
    .head-bar {
        height: 50px;
    }
}
